---
import People from "./People.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

import ourTeam from "@/constant/ourTeam";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class='container mx-auto text-center flex flex-col items-center md:py-24 sm:py-16 py-12'>
  <h2 class='md:text-3xl text-xl'>{t("joinUs")}</h2>
  <p class='md:text-xl text-sm md:w-3/4 mt-8'>{t("joinUs1")}</p>
  <p class='mt-2 text-xs md:text-base'>{t("joinUs2")}</p>
  <h3 class='mt-16 border-b-2 border-black dark:border-white md:pb-4 pb-2 max-md:text-xs'>
    {t("ourPeople1") + " "}<span class='md:text-2xl text-xl font-semibold'>{t("ourPeople2")}</span>
  </h3>
  <div class='grid sm:grid-cols-3 mt-8 w-full gap-8'>
    {ourTeam.map((people) => <People name={people.name} url={people.url} role={people.role} />)}
  </div>
</div>
